.alert {
  background: #f6f6f6;
  width: 100%;
  height: auto;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.btnClose {
  border: none;
  color: red;
  background: none;
  font-size: 24px;
  margin-right: 24px;
}
